@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
    --base-color: rgb(0 106 224);
}

/* Remove default arrow */
select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: none !important;
    padding-right: 0.75rem;
    /* keep spacing clean */
}

/* --- PERFECT A4 PRINT, NO HORIZONTAL SCROLL --- */
@media print {

    /* Reset page */
    html,
    body {
        width: 210mm;
        height: 297mm;
        margin: 0 !important;
        padding: 0 !important;
        overflow: hidden !important;
    }

    #none-printable-invoice {
        display: none;
    }

    /* Main invoice container */
    #invoiceCapture {
        display: block;
        width: 100% !important;
        /* Perfect fit */
        max-width: 100% !important;
        margin: 0 !important;
        box-sizing: border-box !important;
        min-height: 297mm !important;      /* Force full page height */
        height: 297mm !important;   

        padding: 15mm !important;
        /* Safe padding */
        background: white !important;
        border: none !important;
        box-shadow: none !important;
        overflow: hidden !important;
    }

    /* Fix image */
    /* #invoiceCapture img {
        max-width: 100% !important;
        height: auto !important;
    } */

    /* Fix flex layouts expanding horizontally */
    #invoiceCapture * {
        max-width: 100% !important;
        box-sizing: border-box !important;
    }

    /* Table fix */
    #invoiceCapture table {
        width: 100% !important;
        table-layout: fixed !important;
        border-collapse: collapse !important;
        overflow: hidden !important;
    }

    #invoiceCapture th,
    #invoiceCapture td {
        word-wrap: break-word !important;
        white-space: normal !important;
    }

    /* Prevent scale overflow */
    @page {
        size: A4 portrait;
        margin: 0;
    }

    #mobile-top-nav {
        display: none;
    }

    main {
        margin: 0;
        padding: 0;
    }
}